/*<-- UNIVERSAL -->*/
html{
  padding: 0;
  margin: 0;
}

body{
  margin: -1vh;
  overflow-x: hidden;
  cursor: url(assets/cursores/clear-cyan/Clear-c-01-Norm.cur), auto;
  scroll-behavior: smooth;
  font-family: Roboto;
}

p,h3,h2,h1{
  cursor: url(assets/cursores/clear-cyan/Clear-c-06-Text.cur), text;
  margin: 0;
}

section{
  padding-left: 10vh;
  margin: 18vh 0;
}

section:first-of-type{
  margin: 0;
}

.titulo{
  display: inline-block;
  position: relative;
  display: flex;
  font-family: Roboto;
  margin: 20px;
  z-index: 100;
}

.titulo-bg {
  position: absolute;
  left: -0.4%;
  color: #fff;
  font-size: 90px;
  font-weight: 900;
  -webkit-text-stroke: 1px rgb(0 0 0/25%);
  -webkit-user-select: none;
  bottom: -30px;
  z-index: -1;
  text-transform: uppercase;
}



/*<-- HEADER -->*/
.header {
  width: 100vw;
  height: 12vh;
  position: absolute;
  left: 2vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  --ColorHover: #000000;

  opacity: 0;
  animation: aparecer3 1s ease forwards;


  .logo {
    height: 50%;
    padding-left: 3vw;
    position: relative; 
    
  }

  a {
    position: relative;
    display: flex;
    justify-content: center;
    z-index: 100;
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    font-family: Ubuntu;
    text-decoration: none;
    color: #707070;
    transition: color 0.4s ease-in-out;
    cursor: url(assets/cursores/clear-cyan/Clear-c-05-Prec.cur), pointer;
  }

 
  a:hover{
    color: var(--ColorHover);
  }

  a:before{
    content: "";
    position: absolute;
    top: 100%;
    z-index: 101;
    width: 0%;
    height: 2px;
    transition: width 0.3s ease;
    background-color: black;
  }

  a:hover:before{
    width: 100%;
  }

  .botonesHeader{
    display: flex;
    margin-right: 100px;
    column-gap: 3vw;
  }

 
}

.miniTitulo{
  margin: 0;
  font-weight: 700;
  font-size: 22px;
}

.datos{
  font-size: 15px;
  color: #a0a0a0;
}


/*<-- BARRA LATERAL -->*/
.vertical{
  position: fixed;
  inset: 34vh 1vw;
  font-weight: 100;
  display: flex;
  writing-mode: vertical-lr;
  font-size: 20px;  

  display: none;
}


/*<-- INTRODUCCIÓN -->*/

@keyframes parpadeo {
  50% {
    border-color: transparent;
  }
}

@keyframes progreso {
  from {
    width: 0%;
  }

  to {
  }
}

@keyframes aparecer {
  from {
    opacity: 0;
    scale: 0;
  }

  to {
    scale: 1;
    opacity:1;
  }
}

@keyframes aparecer2 {
	0% {
		opacity: 0;
		transform: translateY(50px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes aparecer3 {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}



@keyframes subrayar {
  from {
    width: 0%;
  }

  to {
    width: 100%;
  }
}

.intro{
  background: linear-gradient(90deg, rgba(245,245,245,1) 0%, rgba(240,240,240,1) 15%, rgba(225,223,223,1) 62%, rgba(221,221,221,1) 100%);
  height: 100vh;
  
  --duracionAnimaciones: 1.5s;
  --delay: 0; /*Predefinido*/
  

  /*<-- TEXTO INICIAL -->*/
  .divTextoInicial{
    top: 32vh;
    position: relative;
    
    
     
    
    
    .mensajeInicial{

      font-family: Lexend;
      font-size: 28px;
      font-weight: 400;
      margin: 1vh;
      opacity: 0;
      width: max-content;
      animation: aparecer2 var(--duracionAnimaciones) var(--delay) ease forwards;


    }
  
    .grande{

      opacity: 0;
      letter-spacing: -20%;
      border-right: 5px solid black;
      font-weight: 800;
      font-size: 47px;
      width: max-content;
      padding-right: 5px;
      animation: parpadeo 1s step-end infinite, aparecer2 var(--duracionAnimaciones) var(--delay) ease forwards;

      
    }

    .grande::after{
      content: "";
    }

    .botonInicial{
      background-color: #009e66;
      border: none;
      position: relative;
      left: 1vh;
      top: 2vh;
      padding: 15px 40px;
      color: white;
      box-shadow: 1px 1px 4px gray;
      font-family: Lexend;
      cursor: url(assets/cursores/clear-cyan/Clear-c-05-Prec.cur), pointer;
      opacity: 0;
      animation: parpadeo 1s step-end infinite, aparecer2 var(--duracionAnimaciones) var(--delay) ease forwards;

    }
  
    .botonInicial:hover{
      background-color: #008c5b;
    }
  
  }

 
  
  /*<-- CONTACTO Y DATOS -->*/
  .infoContacto {
    top: 57vh;
    gap: 4vw;
    column-count: 3;
    column-rule: 2px solid #008c5b;
    position: relative;
    left: 0.5vw;
    width:min-content;
    margin: 0;
    font-family: Lexend;

    opacity: 0;
    animation: deslizarDerecha var(--duracionAnimaciones) cubic-bezier(0.175, 0.885, 0.320, 1.175) var(--delay) both;

    
    .miniTitulo{
      margin: 0;
      font-weight: 700;
      font-size: 22px;
    }

    .datos{
      font-size: 15px;
      color: #a0a0a0;
    }
}



  
  /*<-- MI IMAGEN -->*/
  .Yo{
    position: absolute;
    height: 93vh; 
    bottom: 0vh;
    right: 20vh;
    filter: grayscale(0) drop-shadow(20px 0px 4px gray);

    animation: deslizarIzquierda 1s cubic-bezier(.13,.53,.3,1.1); forwards;

  }
  


}

 @keyframes mostrar {
    from {
      opacity: 0;
      scale: 25%;
    }
  
    to {
      opacity: 1;
      scale: 100%;
    }
  }

  @keyframes deslizarDerecha {
    from {
      transform: translateX(-100vw);
    }
  
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }

  @keyframes deslizarIzquierda {
    from {
      transform: translateX(50vw);
    }
  
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }

/*<-- PRESENTACIÓN -->*/
.sectionPresentacion{  
  display: flex;
  align-items: center;
  gap: 8vw;
  margin: 10vh;
  transition: transform 3s ease-in-out;

  view-timeline-name: --timeline;
  view-timeline-axis: block;
  animation-timeline: --timeline;
  animation-name: deslizarDerecha;
  animation-range: entry -5% cover 39%;
  animation-fill-mode: both;
	animation-timing-function: cubic-bezier(.13,.53,.3,1.05);
 

  
  h2{
    font-size: 1.5rem;
    font-family: Ubuntu;
    margin: 0;
  }

  hr{
    width: 20%;
    border: solid 3px #50b272;
    margin: 0 0 1.5vh 0;
  }

  ul{
    height: 90%;
    min-width: 45%;
    padding: 5% 0 0 0;
    list-style-type: none;
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  

  .svg-icono{
    margin-right: 10px;
    min-width: 10%;
    max-width: 10%;
    stroke-width: 1px !important;
  }

  .fa-solid{
    margin-right: 10px;
    font-size: 2em;
    color: green;
  }

  

  .svg-icono path {
    fill: green; 
    stroke-width: 50px;
  }


  /*<-- SOBRE MI -->*/

  .contenedorSobreMi{
    height: 40vh;
    width: 20vw;
    padding: 4vh;
    border-radius: 3px;
    box-shadow: 0px 0px 16px lightgray;
    

    h3,h2{
      margin: 0;
    }

    .divTitulo{
      height: 25%;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      border-bottom: solid 2px lightgray;
      
      .verde{
        color: #008c5b;
        font-size: 20px;
      }

      

    }

    .contenido{
      height: 70%;
      width: 100%;
      display: flex;

    }



    li{
      color: #686868;
    }


  }

 
/*<-- PERSONALIDAD & HABILIDADES -->*/
  .contenedorExtras{
    height: 40vh;
    width: 20vw;
    border-radius: 3px;

    
  
   

      ul{
        justify-content: start;
        gap: 3vh;
        margin-left: -0.5vw;
      }

      li{
        font-family: Ubuntu;
        font-weight: 400;
        display: flex;
        align-items: center;
      }
  }
  }

/*<-- EXPERIENCIA -->*/

  .contenedorLaboral{
    padding: 6vh 4vw;
    height: 50vh;
    width: 100svw;
    display: flex;

    .titulo{
      display: inline-block;
      position: relative;
      display: flex;
      font-family: Roboto;
      margin: 20px;
      z-index: 100;
    }

    .titulo-bg {
      -webkit-text-stroke: 1px rgb(0 0 0/25%);
      -webkit-user-select: none;
      z-index: -1;
      position: absolute;
      left: -0.4%;
      color: #fff;
      font-size: 90px;
      font-weight: 900;
      bottom: -30px;
      text-transform: uppercase;
  }

  /*<-- BARRAS -->*/
    

    .divBarras{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 40vw;
      gap: 3vh;
      margin-top: auto;
      margin-bottom: 10px;
      position: relative;

      
    }

    .elemento{
      display: flex;
      flex-direction: column;
      gap: 1vh;
    }

    


    .barra {
      position: relative; 
      height: 12px;
      width: 80%;
      z-index: 99;
      border-radius: 5px;
      border: solid 1px gray;

      
    }

    
    
    .barra::before {
      content: "";
      top: 0px;
      left: -1px;
      position: absolute;
      height: 101%;
      background-color: rgb(108,182,108);
      border-radius: 5px;
      border: none;
      z-index: 100;
    

      view-timeline-name: --Linea;
      view-timeline-axis: block;
      animation-timeline: --Linea;
      animation-name: progreso;
      animation-range: entry -5% cover 35%;
      animation-fill-mode: both;
      animation-timing-function: ease-out;

    }

    .divBarras .elemento:nth-child(1) .barra::before {
      width: 95%;
    }

    .divBarras .elemento:nth-child(2) .barra::before {
      width: 70%;
    }
    .divBarras .elemento:nth-child(3) .barra::before {
      width: 90%;
    }
    .divBarras .elemento:nth-child(4) .barra::before {
      width: 80%;
    }
    .divBarras .elemento:nth-child(5) .barra::before {
      width: 80%;
    }

    .divBarras .barra::after {
      content: "";
      position: absolute;
      left: calc(100% + 12px);
      top: -4px;
      z-index: 101;
      font-family: Oswald;
    }

    .divBarras .elemento:nth-child(1) .barra::after {
      content: "";
    }

    .divBarras .elemento:nth-child(2) .barra::after {
      content: "70%";
    }
    .divBarras .elemento:nth-child(3) .barra::after {
      content: "90%";
    }
    .divBarras .elemento:nth-child(4) .barra::after {
      content: "80%";
    }
    .divBarras .elemento:nth-child(5) .barra::after {
      content: "80%";
    }
  

    
  /*<-- SCROLL -->*/

    .divScrollLaboral{
      overflow-y: scroll;
      height: auto;
      width: 30%;
      margin-left: 3vw;
      display: flex;
      position: relative;
      padding: 2vh;
      border-radius: 20px;
      background-color: red;
      background-color: #f7f7f7;
      box-shadow: 2px 2px 16px lightgray;
      

      .miniTitulo::before{
        content: "";
        position: absolute;
        left: 1%;
        height: 10px;
        width: 10px;
        border-radius: 15px;
        border: solid 6px #f7f7f7;
        background-color: #6cb66c;
        
      }
    }

    .divScrollLaboral::-webkit-scrollbar {
      width: 10px;
    }
    
    .divScrollLaboral::-webkit-scrollbar-thumb {
      background: rgb(108,182,108);
      border-radius: 5px;
    }
    
    .divScrollLaboral::-webkit-scrollbar-track {
      background: rgba(0, 0, 0, 0.1); /* Color de fondo para el track */
      border-radius: 5px;
      box-shadow: inset 0 0 7px rgba(172, 172, 172, 0.5); /* Sombra interior */
    }
    .lineaTiempo{
      height: 200%;
      width: 8px;
      margin: 0 2% 0 0;
      border-radius: 5px;
      background-color: #dcdcdc;
      margin-top: -10%;
    }

    .trabajo{
      display: flex;
      flex-direction: column;
      gap: 2px;
      margin-bottom: 3vh;
    }

  
     

    

    

  }


/*<-- PORTFOLIO -->*/

@keyframes deslizarArriba{
  from{

  }
  to{
    transform: translateY(-100%);
  }
}

@keyframes desaparecer{
  from{

  }
  to{
    opacity: 0;
  }
}

.sectionPortfolio{

  .contenedor-grid{
    margin-left: 1%;
    margin-top: 10vmin;
    display: grid;
    justify-content: start;
    grid-template-columns: repeat(2, 45%);
    grid-auto-rows: 40vmin minmax(20vh, 40vh);
    gap: 10vh;


    .elemento{
      position: relative;
      background-color: white;
      box-shadow: 0 0 10px rgb(206, 206, 206);
      border-radius: 5px;
      border: solid 0px #90909080;
      overflow: hidden;
      transition: all 0.3s ease;


      .portada{
        display: flex;
        flex-direction: column;
        align-items: center;
        transition: all 0.3s ease;


        .iconoTarjeta{
          position: relative;
          margin: 5vh;
          font-size: 50px;
          color: #6cb66c;
          height: 70px;
        }
  
        .miniTitulo{
          font-size: 28px;
          text-transform: uppercase;
          font-family: Roboto;
        }
  
        .datos{
          margin-top: 2vh;
          text-align: center;
          width: 20vw;
  
        }

      }

      .interior{
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: end;



        .imagen{
          width: 100%;
          height: 100%;
          inset: 0 0;
          position: absolute;
          opacity: 0;
          transition: all 0.5s ease;
        }
      }

    }

    .elemento:hover .portada{
      scale: 1.5;
      transform-origin: 50% 50%;
      rotate: 15deg;
      filter: blur(7px);
      opacity: 0;
    }

    .elemento:hover .imagen{
  
      opacity: 1;
    }

    .elemento:hover{
      transform: scale(1.01);
      box-shadow: 0 0 1px rgb(164, 164, 164);
    }

    

   

  }
}  
  /*<-- FOOTER -->*/

  .footer{
    width: 100svw;
    height: 15vh;
    margin-top: 24vh;
    display: flex;
    background-color: #9A9A9A;
    box-shadow: 0 0 10px gray;
    --Color: white;
    --ColorHover: #000000;

    
      
    .elemento{
      display: flex;
      align-items: center;
      Color: var(--Color);
    }


    .marca{
      padding-left: 7vw;
      margin-right: auto;
      .logo{
        height: 32%;
        href
      }

      .logo:link{
        href: "google.com"
      }
    }

    .navegador{
      gap: 5vw;
      width: min-content;
      font-family: Ubuntu;
      font-size: 21px;

      a{
        text-decoration: none;
        color: white;
        position: relative;
        display: flex;
        justify-content: center;
        transition: all 0.3s ease-in-out;
        cursor: url(assets/cursores/clear-cyan/Clear-c-05-Prec.cur), pointer;
      }
      a:hover{
        color: var(--ColorHover);
      }

      a:before{
        content: "";
        position: absolute;
        top: 100%;
        z-index: 101;
        width: 0%;
        height: 2px;
        transition: width 0.3s ease;
        background-color: black;
      }

      a:hover:before{
        width: 100%;
      }
      
    }

    .redes{
      margin: 0 5vw 0 auto;
      gap: 1vw;

      svg{
        stroke: transparent;
        fill: var(--Color);
        transition: all 0.3s ease-in-out;
        cursor: url(assets/cursores/clear-cyan/Clear-c-05-Prec.cur), pointer;
        
      }

      svg:hover{
        fill: var(--ColorHover);
    
      }
    }
  }

  



 

