body{
    margin: 0;
    
    }

.estilo{
   
    column-count: 3;
    column-gap: 20px;
    column-rule-color: red;
    column-rule-style:solid;
    column-rule-width: 2px;
    padding: 10px;

}

.section {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;

}

.main-section{
    display: flex;
    color: black;
}

.columna{
    width: 45%;
    padding: 15px;
    border: 1px solid #ccc;
    margin: 100px;
    border-radius: 5px;
    
}

.columna-destacada{
    background-color: #ffcccb;
    
}

.columna-normal {
background-color: #f0f0f0;



}



h1{
    margin: 0;
}



