#miParrafo {
    color: whitesmoke;
    font-weight: 700;
    font-size: 50px;
    width:120%;
    margin-left: -20px;
    background: linear-gradient(#e66465, #9198e5);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;


}
body{
    background-color: darkred;


}

@keyframes rotateAnimation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .rotatete {
    animation: rotateAnimation 5s linear infinite;
    background-color: black;
  }

 h1 {
      font-size: 3rem;
      margin: 0;
      background-image: linear-gradient(to right, #3498db, #e74c3c);
      color: transparent;
      -webkit-background-clip: text;
      background-clip: text;
    }

    h2 {
        font-family: 'Arial', sans-serif;
        font-size: 4rem;
        color: #fff;
        text-align: center;
        margin: 0;
        text-shadow: 0 0 10px rgba(255, 255, 255, 0.9),
                     0 0 20px rgba(255, 255, 255, 0.8),
                     0 0 30px rgba(255, 255, 255, 0.7),
                     0 0 40px rgba(255, 255, 255, 0.6),
                     0 0 50px rgba(255, 255, 255, 0.5);
        background: linear-gradient(90deg, #ff00ff, #00ffff);
        -webkit-background-clip: text;
        color: transparent;
      }




      .imp {
        font-size: 9px;



      }