html{
  padding: 0;
  margin: 0;
}

body{
  margin: -1vh;
  overflow-x: hidden;
  cursor: url(cursores/clear-cyan/Clear-c-01-Norm.cur), auto;
}

p,h3,h2,h1{
  cursor: url(cursores/clear-cyan/Clear-c-06-Text.cur), text;
}






/*<-- HEADER -->*/
.header {
  width: 100vw;
  height: 12vh;
  left: 2vw;
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;


  .logo {
    height: 50%;
    padding-left: 3vw;
    position: relative; /* Agrega esta línea para que el seudoelemento se posicione relativo a este elemento */
    
  }

  h1 {
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    font-family: Ubuntu;
    color: #707070;
    transition: color 0.4s ease-in-out;
    cursor: url(cursores/clear-cyan/Clear-c-05-Prec.cur), pointer;
  }

  h1:hover{
    color: black;
  }

  .botonesHeader{
    display: flex;
    margin-right: 100px;
    column-gap: 3vw;
  }
}


/*<-- INTRODUCCIÓN -->*/

@keyframes parpadeo {
  50% {
    border-color: transparent;
  }
}

.intro{
  width: 100vw; 
  height: 100vh;
  background: linear-gradient(90deg, rgba(245,245,245,1) 0%, rgba(240,240,240,1) 15%, rgba(225,223,223,1) 62%, rgba(221,221,221,1) 100%);
  padding-left: 10vh;

  /*<-- TEXTO INICIAL -->*/
  .divTextoInicial{
    top: 32vh;
    left: 10;
    position: relative;
  
    .mensajeInicial{
      font-family: Lexend;
      font-size: 28px;
      font-weight: 400;
      margin: 1vh;
    
    }
  
    .grande{
      font-weight: 800;
      font-size: 47px;
      width: max-content;
      padding-right: 5px;
      border-right: 5px solid black;
      animation: parpadeo 1s step-end infinite;
    }

    .botonInicial{
      position: relative;
      left: 1vh;
      top: 2vh;
      padding: 15px 40px;
      background-color: #009e66;
      color: white;
      border: none;
      box-shadow: 1px 1px 4px gray;
      font-family: Lexend;
      cursor: url(cursores/clear-cyan/Clear-c-05-Prec.cur), pointer;
    }
  
    .botonInicial:hover{
      background-color: #008c5b;
    }
  
  }
  
  /*<-- CONTACTO Y DATOS -->*/
  .infoContacto {
    position: relative;
    top: 57vh;
    left: 0.5vw;
    width:min-content;
    column-count: 3;
    column-rule: 2px solid #008c5b;
    gap: 4vw;
    margin: 0;
    font-family: Lexend;

    
    .miniTitulo{
      margin: 0;
      font-weight: 700;
      font-size: 22px;
    }

    .datos{
      font-size: 15px;
      color: #a0a0a0;
    }
}



  
  /*<-- MI IMAGEN -->*/
  .Yo{
    position: absolute;
    height: 93vh; 
    bottom: 0vh;
    right: 20vh;
    filter: grayscale(0) drop-shadow(20px 0px 4px gray);
  }
  


}



.presentacion{  
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 10vh 0;

  
  h2{
    font-size: 1.5rem;
    font-family: Ubuntu;
    margin: 0;
  }

  hr{
    width: 20%;
    border: solid 3px #50b272;
    margin: 0 0 1.5vh 0;
  }

  ul{
    height: 90%;
    min-width: 45%;
    padding: 5% 0 0 0;
    list-style-type: none;
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .icono{
    height: 1em;
  }



  .contenedorSobreMi{
    height: 40vh;
    width: 20vw;
    padding: 4vh;
    border-radius: 3px;
    box-shadow: 0px 0px 16px lightgray;
    

    h3,h2{
      margin: 0;
    }

    .divTitulo{
      height: 25%;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      border-bottom: solid 2px lightgray;
      
      .verde{
        color: #008c5b;
        font-size: 20px;
      }

      

    }

    .contenido{
      height: 70%;
      width: 100%;
      display: flex;

    }



    li{
      color: #686868;
    }


  }


  .contenedorExtras{
    height: 40vh;
    width: 20vw;
    border-radius: 3px;
    padding-top: 5vh;

      ul{
        justify-content: start;
        gap: 3vh;
      }

      li{
        font-family: Ubuntu;
      }
  }










 

  }




